body {
    font-family: Inter;
    line-height: 1.6;
    margin: 40px;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

header a {
    text-decoration: none;
    color: #e0e0e0;
}

h1 {
    font-size: 2em;
    margin: 10px 10;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
}

main {
    margin-bottom: 40px;
}

section {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

footer {
    text-align: left;
    font-size: 0.9em;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
