:root {
    --primary-color: #121212;
    --secondary-color: #e0e0e0;
    --font-family: 'Inter', sans-serif;
    --header-height: 120px;
    --gap-large: 20px;
    --gap-small: 10px;
}

/* General Styles */
body {
    font-family: var(--font-family);
    line-height: 1.6;
    margin: 40px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    position: fixed; /* Fix the header at the top */
    top: 0px;
    left: 0;
    width: 100%; /* Full width */
    background-color: rgba(18, 18, 18, 0.6); /* Semi-transparent background */;
    color: var(--secondary-color);
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.header-container {
    max-width: 1200px; /* Constrain width */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.header-left {
    display: flex;
    text-align: left;
}

.header-left a {
    text-decoration: none; /* Removes the underline from the link */
}

.header-right {
    display: flex;
    text-align: right;
}



/* Base styles for headings */
h1 {
    font-size: 3em;
    margin: 0px;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 5px;
}

h3 {
    font-size: 1em;
    margin: 0px;
    font-weight: 300; /* Makes the font thin */
}

main {
    margin-top: 80px; /* Prevent content from being hidden behind the header */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    padding-top: 10px;
}

.hero-container {
    position: relative;
    display: inline-block;
}

.hero-image {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
    margin-bottom: var(--gap-small); /* Add spacing below the image */
    margin-top: var(--gap-small); /* Add spacing below the image */
    border: #e0e0e0 solid 1px;
    border-radius: 0px; /* Optional: Add rounded corners */
}

.hero-text {
    position: absolute;
    top: 10px;
    left: 0;
    color: var(--primary-color);
    margin: 0; /* Ensure no margin pushes it down */
    padding-left: 4px;
    padding-right: 4px;
    background-color: var(--secondary-color);

}

/* Movie Grid */
.movie-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* Default: 4 columns */
}

.movie-item {
    position: relative;
}

.movie-item img {
    width: 100%;
    aspect-ratio: 2.7 / 4; /* Set the desired aspect ratio, e.g., 16:9 */
    object-fit: cover; /* Ensures the image fills the container while maintaining the ratio */
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
}

.movie-item img:hover {
    transform: scale(1.02); /* Slightly enlarge the image */
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3); /* Add a shadow effect */
}

.movie-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: #e0e0e0;
    padding: 5px;
    border-radius: 5px;
}

/* Default styles for the navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: var(--gap-large);
    margin: 0;
    padding: 0;
    align-items: flex-end; /* Align the text to the bottom of the container */
}

.nav-links li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

.nav-links li a:hover {
    color: #e0e0e0;
    text-decoration: underline;
}

.menu-toggle {
    display: none; /* Hide the toggle button by default */
    background: none;
    border: none;
    color: #e0e0e0;
    font-size: 1.5em;
    cursor: pointer;
}

/* Media Queries for Responsiveness */

/* Large screens (max-width: 1200px) */
@media (max-width: 1200px) {
    body {
        margin: 20px;
    }

    .header-container {
        padding: 10px;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1em;
    }

    footer {
        font-size: 0.8em;
    }

    .movie-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* Medium screens (max-width: 768px) */
@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    header {
        text-align: center;
    }


    .header-container {
        flex-direction: row; /* Keep the header content in two columns */
        justify-content: space-between; /* Add space between the two columns */
        align-items: center;
        padding: 10px;
    }

    .header-left {
        text-align: left; /* Ensure the text stays aligned to the left */
        flex: 1; /* Allow the left column to take up available space */
    }

    .header-right {
        display: flex;
        justify-content: flex-end; /* Align the toggle button to the right */
    }

    .menu-toggle {
        display: block; /* Show the toggle button */
    }

    .nav-links {
        display: none; /* Hide the navigation links completely */
        flex-direction: column;
        gap: var(--gap-small);
        padding: var(--gap-small);
        background-color: #000000;
        position: absolute;
        top: 100%; /* Position below the header */
        right: 0;
        left: 0;
        z-index: 999;
    }

    .header-right.active .nav-links {
        display: flex; /* Show the navigation links when the menu is toggled */
    }

    .nav-links li {
        text-align: center;
    }


    main {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    footer {
        font-size: 0.8em;
    }

    .movie-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        gap: 15px;
    }
    .hero-image {
        margin-bottom: 0px; /* Add spacing below the image */
        margin-top: 0px; /* Add spacing below the image */
    }

    .hero-text {
        top: 0; /* Aligns the text box with the top of the hero container */
    }
}

/* Small screens (max-width: 480px) */
@media (max-width: 480px) {
    body {
        margin: 5px;
    }

    main {
        margin-top: 70px; /* Prevent content from being hidden behind the header */
    }

    .header-container {
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.8em;
    }

    footer {
        font-size: 0.7em;
    }

    .movie-grid {
        grid-template-columns: 1fr; /* 1 column */
        gap: 10px;
    }


}

/* Flexbox for layout adjustments */
main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-button .icon {
    width: auto;
    height: 32px;
    vertical-align: middle;
}
